.ipynb_checkpoints
__pycache__

scripts/pull_weather.py
scripts/__pycache__


data/cross_border
data/day ahead price
data/gen_forecast
data/generation
data/load
data/wind_solar_day_ahead
energy_clean.csv
energy_dataset.csv
gen_forecast.csv
generation_2019-21.csv
load_forecast_2019-21.csv
price_ahead_2019-21.csv
prices.csv
transmsission_clean.csv
weather_clean.csv
wind_solar_2019-21.csv
