.ipynb_checkpoints
__pycache__

scripts/pull_weather.py
scripts/__pycache__
scripts/pull_weatherR1.ipynb
scripts/pull_weather.ipynb

data
energy_clean.csv
energy_dataset.csv
gen_forecast.csv
generation_2019-21.csv
load_forecast_2019-21.csv
price_ahead_2019-21.csv
prices.csv
transmission_clean.csv
weather_clean.csv
wind_solar_2019-21.csv

